wp-config.php
htdocs/wp-config.php
htdocs/wp-content/debug.log
htdocs/wp-content/db.php

/vendor/
htdocs/wp-content/plugins/advanced-custom-fields-pro/
.env
/front/node_modules/
htdocs/wp-content/uploads
ddbb/
htdocs/wp-content/plugins/debug-bar/
htdocs/wp-content/plugins/query-monitor/
htdocs/wp-content/plugins/jetpack/
htdocs/wp-content/plugins/akismet/
htdocs/wp-content/plugins/polylang/
htdocs/wp-content/plugins/wordpress-seo/
htdocs/wp-content/mu-plugins/queulat/
htdocs/wp-content/mu-plugins/bloom-ux-wp-helpers/
