// Units
$ubase: 10px;

// Background colors
$light-gray: #F0F0F0;
$mid-gray: #D7D7D7;

// Font colors
$regular-gray: #AAAAAA;
$dark-gray: #505050;
$green: #3CA800;
$green-hover: #037A08;

// Fonts
$serif: "Playfair Display";
$no-serif: "lft-etica";

$h1: 4.4rem;
$h2: 3rem;
$h3: 2.8rem;
$h4: 2.3rem;
$h5: 1.8rem;
$p-size: 1.25rem;
$p-small-size: 1rem;
$p-info: .5rem;

body {
  font-family: $no-serif;
  color: $dark-gray;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  color: #000;
}

h1 { font-size: $h1; margin-bottom: 2rem; line-height: 6rem; }
h2 { font-size: $h2; margin-bottom: 1rem; line-height: 6rem; }
h3 { font-size: $h3; margin-bottom: 1rem; line-height: 6rem; }
h4 { font-size: $h4; margin-bottom: 1rem; line-height: 6rem; }
h5 { font-size: $h5; margin-bottom: 1rem; line-height: 3rem; }

p {
  margin-bottom: 3rem;
  font-size: $p-size;
  line-height: 2.3rem;
  letter-spacing: 0em;
}

a {
  color: $green;
  text-decoration: none;
  font-style: normal;
  &:hover {
    color: $green-hover;
  }
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

figure {
  margin: 0;
}

.background {
  background: $light-gray;
  font-size: $p-size;
}

.first-p {
  margin-top: 0;
}

.personal-info {
  padding: 20*$ubase 0 13*$ubase;
  h1 {
    margin: 0 0 $ubase;
  }
  span {
    font-family: $serif;
    font-size: $h4;
    font-style: italic;
    color: #000;
  }
  p {
    margin: 5*$ubase 0;
  }
  a {
    font-size: $p-size;
  }
}

.writings, .works {
  h3 {
    font-style: italic;
  }
  h4 {
    line-height: 4rem;
    color: inherit;
    margin: 0;
  }
  .title-section {
    margin-top: 7*$ubase;
  }
  .writing-post, .work-post {
    margin: 0 0 4*$ubase;
  }
  .writing-post {
    p {
      margin: 1rem 0 0;
      font-size: $p-small-size;
      line-height: 1.95rem;
    }
    time {
      font-size: $p-small-size;
      color: $regular-gray;
    }
  }
  .work-post {
    .made-with {
      font-size: $p-small-size;
      color: $regular-gray;
    }
  }
}

.border-bottom {
  padding-bottom: 5*$ubase;
  border-bottom: 1px solid $mid-gray;
}

.border-top {
  padding-top: 3*$ubase;
  border-top: 1px solid $mid-gray;
}

.final-section {
  padding-bottom: 15*$ubase;
}

.header-post {
  margin-bottom: 5*$ubase;
  h1 {
    margin: 2*$ubase 0;
  }
  time {
    font-size: $p-small-size;
    color: $regular-gray;
  }
  .info-work {
    margin-top: 3*$ubase;
    li {
      font-size: $p-small-size;
    }
    h4 {
      line-height: 4rem;
    }
    .description {
      margin-bottom: 3*$ubase;
      li {
        margin-bottom: .35rem;
      }
    }
    .partners {
      margin-bottom: 7*$ubase;
      li {
        margin-bottom: .35rem;
      }
    }
  }
}

.content-post {
  padding-bottom: 7*$ubase;
  blockquote {
    p {
      font-family: $serif;
      font-style: italic;
      font-size: $h4;
      line-height: 3rem;
      margin-bottom: $ubase;
    }
    font-size: $h5;
    margin-top: 7*$ubase;
    margin-bottom: 7*$ubase;
    span {
      font-size: $p-small-size;
    }
  }
  .gallery {
		figcaption {
			padding: $ubase*8 $ubase*10;
		}
		img {
			margin: $ubase*2 0;
		}
  }
}

.references-post {
  margin-bottom: 10*$ubase;
  li {
    font-size: $p-small-size;
    list-style-type: disc;
    margin: $ubase 0;
  }
}

.main-nav {
  font-size: $p-size;
  margin-top: 5*$ubase;
  margin-bottom: 5*$ubase;
  a {
    font-family: $serif;
    font-style: italic;
  }
}

.main-footer {
  padding: 3*$ubase 0 7*$ubase;
  a {
    color: $regular-gray;
    font-size: $p-small-size;
  }
  li {
    margin-left: 4*$ubase;
  }
  .dribbble:hover {
    color: #EA4C89;
  }
	.linkedin:hover {
    color: #007BB6;
  }
	.quora:hover {
    color: #A82400
  }
  .contact:hover {
    color: $dark-gray;
  }
}

// Screens
// Medium and up
@media screen and (min-width: 40em) and (max-width: 63.9375em)  {
  .content-post {
    .gallery {
      figcaption {
        padding: 0;
      }
    }
  }
}

// Small only
@media screen and (max-width: 39.9375em) {
  h1 { font-size: $h2; line-height: 3.7rem; }
  h2 { font-size: $h3; line-height: 3.7rem; }
  h3 { font-size: $h4; line-height: 3.1rem; }
  h4 { font-size: $h5; line-height: 3.1rem; }

  .personal-info {
    padding: 10*$ubase 0 5*$ubase;
    p {
      margin: 3*$ubase 0;
    }
    span {
      font-size: $p-size;
    }
  }

  .writings, .works {
    h3 {
      margin-bottom: 1.5rem;
    }
    h4 {
      line-height: 2.7rem;
    }
    .writing-post, .work-post {
      margin: 0 0 3*$ubase;
    }
  }

  .final-section {
    padding-bottom: 10*$ubase;
  }

  .main-footer {
    font-size: $p-small-size;
    li {
      margin-left: 2*$ubase;
    }
  }

  .main-nav {
    margin-top: 3*$ubase;
    margin-bottom: $ubase;
  }

  .header-post {
    margin-bottom: $ubase;
  }

  .content-post {
    padding-bottom: $ubase;
    blockquote {
      margin: 3*$ubase 0;
      p {
        font-size: $p-size;
        line-height: 2.3rem;
        margin-bottom: 0;
      }
    }
    .gallery {
      figcaption {
        padding: 0;
      }
    }
  }

  .references-post {
    margin-bottom: 5*$ubase;
    li {
      margin: $ubase 2*$ubase;
    }
  }

}
