// Units
$ubase: 10px;

// Background colors
$light-gray: #F0F0F0;
$mid-gray: #D7D7D7;

// Font colors
$regular-gray: #AAAAAA;
$dark-gray: #505050;
$brown: #E48E02;

// Fonts
$serif: 'Playfair Display';
$no-serif: Arial;
$h1: 70px;
$h2: 50px;
$h3: 40px;
$h4: 26px;
$h5: 23px;
$p-size: 20px;
$p-small-size: 16px;
$p-info: 14px;

body {
  color: $dark-gray;
  font-size: $p-size;
}

p {
  margin: 3*$ubase 0;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.background {
  background: $light-gray;
  font-size: $p-size;
}

h1, h2, h3, h4 {
  font-family: $serif;
  font-weight: 400;
}

h1 { font-size: $h1; font-style: italic; line-height: 110%; }
h2 { font-size: $h2; font-style: italic; line-height: 100%; }
h3 { font-size: $h3; font-style: italic; line-height: 100%; }
h4 { font-size: $h4; font-style: italic; line-height: 100%; }

a {
  color: $brown;
  text-decoration: none;
  font-style: normal;
  &:hover {
    color: yellow;
  }
}

.personal-info {
  padding: 20*$ubase 0 13*$ubase;
  h1 {
    margin: 0 0 $ubase;
  }
  span {
    font-family: $serif;
    font-size: $h4;
    font-style: italic;
  }
  p {
    margin: 5*$ubase 0;
  }
  a {
    font-size: 20px;
  }
}

.writings, .works {
  h4 {
    font-style: normal;
  }
  h3 {
    margin: 0;
  }
  .title-section {
    margin-top: 7*$ubase;
  }
  .writing-post, .work-post {
    margin: 4*$ubase 0 0;
    h4 {
      margin: 0 0 $ubase;
    }
  }
  .writing-post {
    p {
      margin: 2*$ubase 0;
      font-size: $p-size;
    }
    time {
      font-size: $p-small-size;
      color: $regular-gray;
    }
  }
  .work-post {
    .made-with {
      font-size: $p-small-size;
      color: $regular-gray;
    }
  }
}

.border-bottom {
  padding-bottom: 7*$ubase;
  border-bottom: 1px solid $mid-gray;
}

.border-top {
  padding-top: 3*$ubase;
  border-top: 1px solid $mid-gray;
}

.final-section {
  padding-bottom: 15*$ubase;
}

.header-post {
  margin-bottom: 5*$ubase;
  h1 {
    margin: 2*$ubase 0;
  }
  time {
    font-size: $p-small-size;
    color: $regular-gray;
  }
}

.content-post {
  padding-bottom: 7*$ubase;
  blockquote {
    font-size: $h5;
    margin-top: 7*$ubase;
    margin-bottom: 7*$ubase;
    span {
      font-size: $p-small-size;
    }
  }
}

.references-post {
  margin-bottom: 7*$ubase;
  li {
    font-size: $p-small-size;
    list-style-type: disc;
    margin: $ubase 0;
  }
}

.main-nav {
  margin-top: 5*$ubase;
  margin-bottom: 5*$ubase;
  a {
    font-family: $serif;
    font-style: italic;
  }
}

.main-footer {
  padding: 3*$ubase 0 7*$ubase;
  a {
    color: $regular-gray;
    font-size: $p-small-size;
  }
  li {
    margin-left: 4*$ubase;
  }
  .dribbble:hover {
    color: #EA4C89;
  }
	.linkedin:hover {
    color: #007BB6;
  }
	.quora:hover {
    color: #A82400
  }
  .contact:hover {
    color: $dark-gray;
  }
}

// Screens
// Small only
@media screen and (max-width: 39.9375em) {
  h1 { font-size: $h2; }
  h2 { font-size: $h3; }
  h3 { font-size: $h4; }
  h4 { font-size: $h5; }

  .personal-info {
    padding: 10*$ubase 0 5*$ubase;
    p {
      font-size: $p-size;
      margin: 3*$ubase 0;
    }
  }

  .writings, .works {
    .writing-post, .work-post {
      margin: 3*$ubase 0;
    }
  }

  .final-section {
    padding-bottom: 10*$ubase;
  }

  .main-footer {
    li {
      margin-left: 2*$ubase;
    }
  }

  .main-nav {
    margin-top: 3*$ubase;
    margin-bottom: $ubase;
  }

  .header-post {
    margin-bottom: $ubase;
  }

  .content-post {
    padding-bottom: 3*$ubase;
    blockquote {
      font-size: $p-size;
      margin: 3*$ubase 0;
    }
  }

  .references-post {
    margin-bottom: 3*$ubase;
    li {
      margin: $ubase 2*$ubase;
    }
  }

}
