// Units
$ubase: 10px;

// Background colors
$light-gray: #F0F0F0;
$mid-gray: #D7D7D7;

// Font colors
$regular-gray: #AAAAAA;
$dark-gray: #505050;
$blue: #001FEC;
$blue-hover: #00159F;

// Fonts
$no-serif: "acumin-pro";

$h1: 2.4rem;
$h2: 1.8rem;
$h3: 1.5rem;
$h4: 1.3rem;
$h5: 1.25rem;

$p-size: 1.25rem;
$p-small-size: 1rem;
$p-info: .8rem;

body {
  font-family: $no-serif, sans-serif;
  color: $dark-gray;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0em;
  color: #000;
}

h1 { font-size: $h1; margin: 3.5rem 0 2rem; line-height: 3rem; }
h2 { font-size: $h2; margin: 3rem 0 1rem; line-height: 2.7rem; }
h3 { font-size: $h3; margin: 3rem 0 1rem; line-height: 2.5rem; }
h4 { font-size: $h4; margin: 3rem 0 1rem; line-height: 2.3rem; }
h5 { font-size: $h5; margin: 3rem 0 1rem; line-height: 2.3rem; }

p {
  margin-bottom: 1.6rem;
  font-size: $p-size;
  line-height: 1.9rem;
  letter-spacing: 0em;
}

a {
  color: $blue;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  &:hover {
    color: $blue-hover;
  }
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

figure {
  margin: 0;
}

.background {
  background: $light-gray;
}

.first-p {
  margin-top: 0;
}

.personal-info {
  padding: 7*$ubase 0;
  h1 {
    margin: 0 0 $ubase;
  }
  span {
    font-size: $h4;
    font-weight: 700;
    color: #000;
  }
  p {
    margin: 3*$ubase 0;
  }
  .write-me {
    font-size: $p-size;
  }
}

.writings, .works {
  h3, h4 {
    line-height: 2.3rem;
    color: inherit;
    margin: 0 0 0.5rem;
  }
  .title-section {
    margin: 5*$ubase 0 3*$ubase;
  }
  .padding-section {
    padding-top: 5*$ubase;
  }
  .writing-post, .work-post {
    margin: 0 0 3*$ubase;
  }
  .writing-post {
    p {
      font-size: $p-small-size;
      line-height: 1.6rem;
      margin: 0 0 $ubase;
    }
    time {
      font-size: $p-small-size;
      color: $regular-gray;
    }
  }
  .work-post {
    .made-with {
      font-size: $p-small-size;
      color: $regular-gray;
    }
  }
}

.index {
  h2 {
    color: inherit;
  }
  .writing-post {
    p {
      font-size: $p-size;
      line-height: 1.9rem;
    }
  }
}

.border-bottom {
  padding-bottom: 3*$ubase;
  border-bottom: 1px solid $mid-gray;
}

.border-top {
  padding-top: 3*$ubase;
  border-top: 1px solid $mid-gray;
}

.final-section {
  padding-bottom: 15*$ubase;
}

.header-post {
  margin-bottom: 5*$ubase;
  h1 {
    margin: 2*$ubase 0;
  }
  time {
    font-size: $p-small-size;
    color: $regular-gray;
  }
  .info-work {
    margin-top: 2*$ubase;
    h2 {
      margin-top: 0;
    }
    li {
      font-size: $p-small-size;
    }
    .description {
      margin-bottom: 4*$ubase;
      li {
        margin-bottom: .35rem;
      }
    }
    .partners {
      margin-bottom: 4*$ubase;
      li {
        margin-bottom: .35rem;
      }
      h3 {
        margin-bottom: 0;
      }
      h4 {
        color: inherit;
        margin: 0;
      }
    }
  }
}

.content-post {
  padding-bottom: 7*$ubase;
  ul {
    margin-bottom: 1.6rem;
    li {
      font-size: $p-size;
      list-style-type: disc;
      margin-left: 4*$ubase+3;
    }
  }
  blockquote {
    p {
      font-style: italic;
      font-size: $h4;
      line-height: 2.2rem;
      margin-bottom: $ubase;
    }
    font-size: $h5;
    margin-top: 4*$ubase;
    margin-bottom: 4*$ubase;
    span {
      font-size: $p-small-size;
    }
  }
  figure {
    width: 100% !important;
    height: auto;
    ul li {
      list-style-type: none;
      margin-left: 0;
    }
    figcaption {
      margin-top: $ubase;
      font-size: $p-small-size;
    }
  }
  .gallery {
    img {
      margin: $ubase*3 0;
      box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
    }
  }
  .post-work__second-half {
    margin-top: -50px;
    padding: 0;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
    }
  }
}

.references-post {
  margin-bottom: 10*$ubase;
  li {
    font-size: $p-small-size;
    list-style-type: disc;
    margin: $ubase 0;
  }
}

.main-nav {
  font-size: $p-size;
  margin-top: 5*$ubase;
  margin-bottom: 5*$ubase;
  line-height: 1.9rem;
  .btn-back {
    width: 100%;
    position: relative;
    &:before {
      content: "";
      top: 7px;
      left: -40px;
      height: 19px;
      width: 23px;
      position: absolute;
      background: url(../img/back-arrow.svg);
    }
  }
  li {
    margin-left: $ubase*3;
    a {
      font-size: $p-small-size;
      color: $regular-gray;
      &:hover {
        color: $dark-gray;
      }
    }
  }
}

.main-footer {
  padding: 3*$ubase 0 7*$ubase;
  a {
    color: $regular-gray;
    font-size: $p-small-size;
    &:hover {
      color: $dark-gray;
    }
  }
  li {
    margin-left: 4*$ubase;
  }
}

.error-content {
  padding-bottom: 20*$ubase;
  p {
    font-size: $h2;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 63.9376em ) {
  .content-post {
    .post-work__second-half {
      padding: $ubase*8 $ubase*10;
      img {
        margin: $ubase*2 -100px;
        max-width: 970px;
      }
    }
  }
}

// Screens
// Medium and up
@media screen and (min-width: 40em) and (max-width: 63.9375em)  {

  h1 { line-height: 2.8rem; }
  h2 { line-height: 2.2rem; }
  h3 { line-height: 2.2rem; }
  h4 { line-height: 2rem; }

  .personal-info {
    padding: 2*$ubase 0 7*$ubase;
  }

  .writings, .works {
    h3, h4 {
      line-height: 2.2rem;
    }
  }

  .header-post {
    margin-bottom: 2*$ubase;
  }

  .content-post {
    .post-work__second-half {
      margin-top: 0;
      img {
        margin: 2*$ubase 0;
      }
    }
    .gallery {
      figcaption {
        padding: 0;
      }
    }
  }

  .index {
    h2 {
      margin: 1rem 0;
    }
  }

}

// Small only
@media screen and (max-width: 39.9375em) {

  h1 { font-size: $h2; line-height: 2.4rem; }
  h2 { font-size: $h3; margin: 2rem 0 1rem; line-height: 2rem; }
  h3 { font-size: $h4; margin: 2rem 0 1rem; line-height: 1.8rem; }
  h4 { font-size: $h5; margin: 2rem 0 1rem; line-height: 1.8rem; }

  p {
    font-size: $p-small-size;
    line-height: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .personal-info {
    padding: 2*$ubase 0 5*$ubase;
    h1 {
      margin: 0;
    }
    p {
      margin: $ubase 0;
    }
    span {
      font-size: $p-size;
    }
    .write-me {
      font-size: $p-small-size;
    }
  }

  .writings, .works {
    h2 {
      margin-bottom: .4rem;
    }
    h3, h4 {
      line-height: 1.8rem;
    }
    .title-section {
      margin-bottom: 3*$ubase;
    }
    .writing-post, .work-post {
      margin: 0 0 4*$ubase;
    }
    .padding-section {
      padding-top: 2*$ubase;
    }
  }

  .final-section {
    padding-bottom: 10*$ubase;
  }

  .main-footer {
    a {
      font-size: $p-info;
    }
    li {
      margin-left: $ubase;
    }
  }

  .main-nav {
    font-size: $p-small-size;
    margin-top: 2*$ubase;
    margin-bottom: $ubase;
  }

  .header-post {
    h1 {
      margin: $ubase 0;
    }
    margin-bottom: $ubase;
    .info-work {
      .partners {
        h3, h4 {
          margin: $ubase 0;
        }
      }
    }
  }

  .content-post {
    padding-bottom: $ubase;
    ul {
      li {
        font-size: $p-small-size;
        margin-left: 2*$ubase;
      }
    }
    blockquote {
      margin: 3*$ubase 0;
      p {
        font-size: $p-small-size;
        line-height: 1.7rem;
        margin-bottom: 0;
      }
    }
    figure {
      width: 100% !important;
      height: auto;
      figcaption {
        font-size: $p-info;
      }
    }
    .post-work__second-half {
      padding: 0;
      img {
        margin: 2*$ubase 0;
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }

  .references-post {
    margin-bottom: 5*$ubase;
    li {
      margin: $ubase 2*$ubase;
    }
  }

}
