body {
  color: #505050;
  font-size: 20px; }

p {
  margin: 30px 0; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.background {
  background: #F0F0F0;
  font-size: 20px; }

h1, h2, h3, h4 {
  font-family: "Playfair Display";
  font-weight: 400; }

h1 {
  font-size: 70px;
  font-style: italic;
  line-height: 110%; }

h2 {
  font-size: 50px;
  font-style: italic;
  line-height: 100%; }

h3 {
  font-size: 40px;
  font-style: italic;
  line-height: 100%; }

h4 {
  font-size: 26px;
  font-style: italic;
  line-height: 100%; }

a {
  color: #E48E02;
  text-decoration: none;
  font-style: normal; }
  a:hover {
    color: yellow; }

.personal-info {
  padding: 200px 0 130px; }
  .personal-info h1 {
    margin: 0 0 10px; }
  .personal-info span {
    font-family: "Playfair Display";
    font-size: 26px;
    font-style: italic; }
  .personal-info p {
    margin: 50px 0; }
  .personal-info a {
    font-size: 20px; }

.writings h4, .works h4 {
  font-style: normal; }
.writings h3, .works h3 {
  margin: 0; }
.writings .title-section, .works .title-section {
  margin-top: 70px; }
.writings .writing-post, .writings .work-post, .works .writing-post, .works .work-post {
  margin: 40px 0 0; }
  .writings .writing-post h4, .writings .work-post h4, .works .writing-post h4, .works .work-post h4 {
    margin: 0 0 10px; }
.writings .writing-post p, .works .writing-post p {
  margin: 20px 0;
  font-size: 20px; }
.writings .writing-post time, .works .writing-post time {
  font-size: 16px;
  color: #AAAAAA; }
.writings .work-post .made-with, .works .work-post .made-with {
  font-size: 16px;
  color: #AAAAAA; }

.border-bottom {
  padding-bottom: 70px;
  border-bottom: 1px solid #D7D7D7; }

.border-top {
  padding-top: 30px;
  border-top: 1px solid #D7D7D7; }

.final-section {
  padding-bottom: 150px; }

.header-post {
  margin-bottom: 50px; }
  .header-post h1 {
    margin: 20px 0; }
  .header-post time {
    font-size: 16px;
    color: #AAAAAA; }

.content-post {
  padding-bottom: 70px; }
  .content-post blockquote {
    font-size: 23px;
    margin-top: 70px;
    margin-bottom: 70px; }
    .content-post blockquote span {
      font-size: 16px; }

.references-post {
  margin-bottom: 70px; }
  .references-post li {
    font-size: 16px;
    list-style-type: disc;
    margin: 10px 0; }

.main-nav {
  margin-top: 50px;
  margin-bottom: 50px; }
  .main-nav a {
    font-family: "Playfair Display";
    font-style: italic; }

.main-footer {
  padding: 30px 0 70px; }
  .main-footer a {
    color: #AAAAAA;
    font-size: 16px; }
  .main-footer li {
    margin-left: 40px; }
  .main-footer .dribbble:hover {
    color: #EA4C89; }
  .main-footer .linkedin:hover {
    color: #007BB6; }
  .main-footer .quora:hover {
    color: #A82400; }
  .main-footer .contact:hover {
    color: #505050; }

@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 50px; }

  h2 {
    font-size: 40px; }

  h3 {
    font-size: 26px; }

  h4 {
    font-size: 23px; }

  .personal-info {
    padding: 100px 0 50px; }
    .personal-info p {
      font-size: 20px;
      margin: 30px 0; }

  .writings .writing-post, .writings .work-post, .works .writing-post, .works .work-post {
    margin: 30px 0; }

  .final-section {
    padding-bottom: 100px; }

  .main-footer li {
    margin-left: 20px; }

  .main-nav {
    margin-top: 30px;
    margin-bottom: 10px; }

  .header-post {
    margin-bottom: 10px; }

  .content-post {
    padding-bottom: 30px; }
    .content-post blockquote {
      font-size: 20px;
      margin: 30px 0; }

  .references-post {
    margin-bottom: 30px; }
    .references-post li {
      margin: 10px 20px; } }

/*# sourceMappingURL=style.css.map */
